@font-face {
    font-family: "Fruktur-Regular";
    src: url('./Fruktur-Regular.ttf') format("ttf")
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    background: url('noel.webp') no-repeat;
    background-size: cover;
    background-position-y: 35%;
    font-weight: bold;
    font-family: 'Fruktur-Regular';
    text-align: center;
    font-size: 1.5em;
    color : red;
}

h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fruktur-Regular';
}

canvas
{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background : url('dobby.png') no-repeat;
    background-size: cover;
    background-position-y: 40%;
}